.task-container {
  padding: 0 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &>div {
    display: flex;
    flex-direction: column;
    height: 100%;

    &>.task-timeline {
      flex-grow: 1;
    }
  }

  .no-data {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100/12*$unit;
    position: relative;
  }

  .task-guide {
    padding: 10/12*$unit;
    background-color: $bgColor;

    span.red {
      color: #D9534F;
    }

    span.green {
      color: #449D44;
    }

    span.blue {
      color: #007bff;
    }

  }

  .task-title {
    font-weight: 700;
    font-size: 24/12*$unit;
    margin: 40/12*$unit 0;
  }

  .task-month {
    display: block;
    position: relative;
    padding: 30/12*$unit;
    margin-bottom: 10/12*$unit;

    &.now {
      background-color: #fff3cd;
    }

    &.red {
      color: #D9534F;
    }

    &.green {
      color: #449D44;
    }

    .month-name {
      font-weight: 700;
      margin-bottom: 15/12*$unit;
    }

    .month-status {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 8/12*$unit;

      &.red {
        background-color: #D9534F;
      }

      &.green {
        background-color: #449D44;
      }
    }

    .month-task-content {
      padding: 15/12*$unit 20/12*$unit;
      display: block;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      background-color: transparent;
      border: none;
      border-radius: none;
    }

    .month-no-task {
      padding: 15/12*$unit 20/12*$unit;
      background-color: #7d7d7d;
      color: #fff;
    }

    ul.month-tasks {
      display: block;
      list-style: none;
      margin: 10/12*$unit 0 0 0;
      padding: 0;
      background-color: $bgColor;

      &>li {
        padding: 15/12*$unit 20/12*$unit;
      }

      &>li+li {
        border-top: 1px solid #bfbfbf;
      }
    }
  }

  .task-tabs-wrapper {
    display: block;
    margin-top: 30/12*$unit;

    .task-tab-content {
      background-color: $bgColor;
    }

    .task-tabs {
      display: block;
      width: 100%;
      position: relative;
      background-color: #cdcdcd;

      .task-tab {
        display: inline-block;
        padding: 10/12*$unit 15/12*$unit;
        border: 3px solid transparent;

        &.active {
          background-color: $bgColor;
        }

        &.red {
          color: #D9534F;
        }

        &.green {
          color: #449D44;
        }

        &.now {
          background-color: #fff3cd;
        }

        &:not(.active):hover {
          cursor: pointer;
          background-color: $bgColor;
          color: #333;
        }
      }
    }
  }
}
