.date-range{
 background-color: #fff;
}
.date-range>h4 {
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}
.date-range .mixed-chart .line-chart {
  position: relative;
  background-color: #fafafa;
}
.date-range .mixed-chart .line-chart>.chart {
  height: 250px;
  width: 95%;
  margin: 0 auto;
}
.date-range .mixed-chart .line-chart>.x-axis {
  position: absolute;
  right: 2.5%;
  bottom: 0;
  color: #828282;
  font-size: 10px;
}
.date-range .mixed-chart .line-chart .line-group>path.line-path {
  display: none;
}
.date-range .mixed-chart .line-chart .line-group:first-child>g.area-group>path.area-path {
  fill-opacity: 0.9;
}
.date-range .mixed-chart .line-chart .line-tooltip-line>g circle:nth-of-type(2) {
  display: none;
}

.date-range .mixed-chart .dragged-ruler {
  background-color: #ddd;
}
.date-range .mixed-chart .dragged-ruler>.chart {
  height: 30px;
  width: 95%;
  margin: 0 auto;
}
.date-range .mixed-chart .dragged-ruler .background-rect {
  fill: #ddd;
}
.date-range .mixed-box {
  width: 100%;
  min-height: 330px;
  margin-top:10px;
  position: relative;
  margin-bottom: 40px;
  text-align: center;
}
.date-range .mixed-box .cell.day{
height: 36px;
line-height: 36px;
}
.date-range .mixed-box .range-start{
  width: 250px;
  position: absolute;
  left: 40px;
  top: 15px;
}
.date-range .mixed-box .range-end{
  width: 250px;
  position: absolute;
  right: 40px;
  top:15px;
}
.date-range .mixed-box .date-status-box{
  position: absolute;
  width: auto;
  left: 320px;
  right: 320px;
  top: 15px;
}

.date-range .mixed-box .date-status{
    position: relative;
    width: 100%;
    background-color: #ebebed;
    height: 285px;
    padding: 15px;
    margin-top: 5px;
    overflow: hidden;
}
.date-range .mixed-box .status-box button{
  margin-top: 15px;
  width: 80%;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  margin:15 auto;
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
}
.date-range .mixed-box .status-box button:focus{
outline: none;
}
.date-range .mixed-box .status-box button:hover{
  background-color: #000;
  color: $color;
}
.date-range .mixed-box .status-box.active button{
  background-color: #000;
  color: $color;
}
.date-range .mixed-box .status-box{
  position: relative;
  width: 100%;
  background-color: #f3f3f4;
}
.date-range .mixed-box .status-box.active{
  background-color: #ffffff;
}
.date-range .mixed-box .status-line{
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-top: 15px;
}
@media screen and (max-width: 1200px) {
.date-range .mixed-box .status-line{
  height: 70px;
}
.date-range .mixed-box {
  min-height: 450px;
}
.date-range .mixed-box .date-status{
 height: 430px; }
.date-range .mixed-box .cell.day {
    height: 65px;
    line-height: 65px;
}}
.date-range .mixed-box .status-box .status-line .range-box{
  border-left:1px dashed #9e9e9e;
  border-right:1px dashed #9e9e9e;
  border-top:none;
  border-bottom: none; 
  position: relative;
  width: 50%;
  height: 255px;
  left: 25%;
  z-index: 99;
  background:none;
}


.date-range .mixed-box .status-box  .status-line em{
border-radius: 3px;
border: none;
height: 6px;
background-color: #c7cbd5;
position: absolute;

}
.date-range .mixed-box .status-box .status-line .beforeline1{
left: 7%;
top: 10%;
width: 15%;
}
.date-range .mixed-box .status-box .status-line .beforeline2{
left: 14%;
top: 20%;
width: 25%;
}
.date-range .mixed-box .status-box .status-line .beforeline3{
left: 21%;
top: 30%;
width: 75%;
}
.date-range .mixed-box .status-box .status-line .beforeline4{
left: 28%;
top: 40%;
width: 45%;
}
.date-range .mixed-box .status-box .status-line .beforeline5{
left: 30%;
top: 50%;
width: 43%;
}
.date-range .mixed-box .status-box .status-line .beforeline6{
left: 33%;
top: 60%;
width: 50%;
}
.date-range .mixed-box .status-box .status-line .beforeline7{
left: 36%;
top: 70%;
width: 50%;
}
.date-range .mixed-box .status-box .status-line .beforeline8{
left: 76%;
top: 80%;
width: 20%;
}
.date-range .mixed-box .status-box .status-line .beforeline9{
left: 82%;
top: 90%;
width: 14%;
}
.date-range .mixed-box .status-box.start  .status-line .beforeline4{
background-color: #4d5a68;
}
.date-range .mixed-box .status-box.start  .status-line .beforeline5{
background-color: #4d5a68;
}.date-range .mixed-box .status-box.start  .status-line .beforeline6{
background-color: #4d5a68;
}.date-range .mixed-box .status-box.start  .status-line .beforeline7{
background-color: #4d5a68;
}

.date-range .mixed-box .status-box.completed  .status-line .beforeline2{
background-color: #4d5a68;
}.date-range .mixed-box .status-box.completed  .status-line .beforeline4{
background-color: #4d5a68;
}.date-range .mixed-box .status-box.completed  .status-line .beforeline5{
background-color: #4d5a68;
}

.date-range .mixed-box .status-box.intersecting  .status-line .beforeline2{
background-color: #4d5a68;
}.date-range .mixed-box .status-box.intersecting  .status-line .beforeline3{
background-color: #4d5a68;
}.date-range .mixed-box .status-box.intersecting  .status-line .beforeline4{
background-color: #4d5a68;
}.date-range .mixed-box .status-box.intersecting  .status-line .beforeline5{
background-color: #4d5a68;
}.date-range .mixed-box .status-box.intersecting  .status-line .beforeline6{
background-color: #4d5a68;
}.date-range .mixed-box .status-box.intersecting  .status-line .beforeline7{
background-color: #4d5a68;
}






.date-range .mixed-box .status-box.active.start  .status-line .beforeline4{
background-color: #00c9ff;
}
.date-range .mixed-box .status-box.active.start  .status-line .beforeline5{
background-color: #00c9ff;
}.date-range .mixed-box .status-box.active.start  .status-line .beforeline6{
background-color: #00c9ff;
}.date-range .mixed-box .status-box.active.start  .status-line .beforeline7{
background-color: #00c9ff;
}

.date-range .mixed-box .status-box.active.completed  .status-line .beforeline2{
background-color: #00c9ff;
}.date-range .mixed-box .status-box.active.completed  .status-line .beforeline4{
background-color: #00c9ff;
}.date-range .mixed-box .status-box.active.completed  .status-line .beforeline5{
background-color: #00c9ff;
}

.date-range .mixed-box .status-box.active.intersecting  .status-line .beforeline2{
background-color: #00c9ff;
}.date-range .mixed-box .status-box.active.intersecting  .status-line .beforeline3{
background-color: #00c9ff;
}.date-range .mixed-box .status-box.active.intersecting  .status-line .beforeline4{
background-color: #00c9ff;
}.date-range .mixed-box .status-box.active.intersecting  .status-line .beforeline5{
background-color: #00c9ff;
}.date-range .mixed-box .status-box.active.intersecting  .status-line .beforeline6{
background-color: #00c9ff;
}.date-range .mixed-box .status-box.active.intersecting  .status-line .beforeline7{
background-color: #00c9ff;
}