.analysis-dashboard-container {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: #EAEAEA;
}

.dashboard-container {
  height: 100%;
}

.analysis-dashboard-container .dashboard-header {
  position: relative;
  height: 3%;
  vertical-align: middle;
  min-height: 20px;
  position: relative;
  padding-left:5px;
}

.analysis-dashboard-container .dashboard-header>.dashboard-view-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  position: absolute;
  top:50%;
  margin-top: -10px;
}
.dashboard-view-toggle{
  text-align: right;
}

.dashboard-view-toggle button{
  display: inline-block;
  border-radius: 0px;
  border: none;
  height: 30px;
  padding: 5px 24px;
  font-size: 14px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #FFFFFF;
}

.dashboard-view-toggle .button-normal{
  background-color: #FFFFFF;
  color: #000000;
  /*box-shadow: 0 0 0 2px #000000;*/
  border: 2px solid #000000;
}
.dashboard-view-toggle .button-normal:hover,
.dashboard-view-toggle .button-active{
  outline: none;
  /*box-shadow: 0 0 0 2px #FFED00;*/
  border: 2px solid #FFED00;
}



.tile-panel-area {
  position: relative;
  min-height: 500px;
  height: 97%;
  margin-top: 10px;
  padding:0;

    /* position: fixed;
    top: -30px;
    left: 0;
    height: 700px;
    width: 100%;
    z-index: 200; */
}

.dashboard-view-toggle .icon-pencil{
  cursor:pointer;
  display: inline-block;
  margin-left: -2px;
  vertical-align: top;
  padding: 6px 8px;
  border: 2px solid;
}
.dashboard-view-toggle .icon-pencil-able {
  background: yellow;
  cursor:pointer;
}
.dashboard-view-toggle .icon-pencil-disable {
  cursor: not-allowed;
  color: #787878;
  background-color: #CCCCCC;
  opacity: 1;
  box-shadow: none;
  border-color: #CCCCCC;  
}

.analysis-dashboard-container .edit-personal-view{
  position:absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  z-index:2;
}



