.cust-dashboard-overview {
  .form-control {
    border-radius: 0;
  }

  &>.header-wrapper {
    position: relative;
    &>.header {
      margin: 30/12*$unit 0 50/12*$unit;
      text-align: center;

      &>h1 {
        margin-bottom: 30/12*$unit;
      }
      &>p {}
    }
  }

  &>.container>form {
    textarea {
      resize: none;
      height: 300/12*$unit;
    }
  }

  &>.container .form-actions {
    margin-top: 15/12*$unit;
  }

  .header-actions {
    display: block;
    margin-bottom: 15/12*$unit;

    &>button {
      display: inline-block;
    }
    &>button+button {
      margin-left: 5/12*$unit;
    }
  }

  .action-add {
    display: flex;
    width: 100%;
    height: 143/12*$unit;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i {
      display: block;
      font-size: 48/12*$unit;
    }
  }

  .module-selection {
    .title {
      margin-bottom: 30/12*$unit;
    }
  }

  .comments-content-actions {
    margin-top: 15/12*$unit;
  }
}

.no-data-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, .45);

  .no-data-content {
    color: #fff;
    font-size: 14/12*$unit;
  }
}
