.vendor-discrepancies-content{
	height: 100%;
}

.vendor-discrepancies-content .bi-table .search-box,
.vendor-discrepancies-content input{
  width: 100%;
}
	.invoice-detail{
		margin: 0 15px 0px 15px;
	}
	.invoice-detail .search-tool{
		margin-top: 4px;
	}
	.vendor-chart-title{
		width:100%;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		height: 26px;
		line-height: 26px;
		margin:0;

	}
	.invoice-detail td,
	.invoice-detail th{
		font-size: 12px;
	}

.caseValueRanking-table-pagging{
    white-space: nowrap;
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0 auto;
}

.vendor-discrepancies-content .news-pages input{
	width:56px;
}