.dynamic-filter-panel-hidden {
  position: absolute;
  height: 30px;
  background-color: #333;
  padding: 0px 20px;
  z-index: 600;
  width: 100%;
  opacity: 0.8;
}

.dynamic-filter-panel-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  background-color: #fff;
  width: 100%;
  padding: 0px 20px;
  z-index: 600;
  box-shadow: 0 5px 15px -5px black;
  text-align: center;
  overflow:auto;
}


.dynamic-filter-panel-container .container {
  position: absolute;
  top: 11%;
  left: 0;
  width: 100%;
}

.dynamic-filter-panel-container .container .icon {
  display: inline-block;
  font-size: 60px;
  border: solid #6C6C6C 2px;
  border-radius: 50%;
  padding: 10px 25px 0px 25px;
}

.dynamic-filter-panel-container .container .title {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.dynamic-filter-panel-container .container .information p {
  margin-bottom: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #121212;
  font-weight: bold;
}

.dynamic-filter-panel-container .container .selections {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.dynamic-filter-panel-container .container .selections .item-container {
  display: inline-block;
  width: 60%;
}

.dynamic-filter-panel-container .container .selections .item-normal {
  cursor: pointer;
  border: solid #E0DEDE 1px;
  width: 200px;
  padding:10px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.dynamic-filter-panel-container .container .selections .item-normal-light {
  cursor: pointer;
  border: solid #E0DEDE 1px;
  width: 200px;
  padding:10px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: black;
  color: #FEED01;
}

.dynamic-filter-panel-container .add {
  display: inline-block;
  margin-top: 40px;
  width: 200px;
}
.dynamic-filter-panel-container .user-instructions {
  margin-top:10px;
  color: #D0011B;
}
.dynamic-filter-panel .bottom-button-container{
  padding-right: 15px;
}
