.activity-connection{
	position: absolute;
	height: 100%;
	width: 100%;
}
.activity-connection h3{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	padding: 15px;
}
.activity-connection-mid{
	height: 25%;
	width: 100%;
	background-color:#f2f2f2;
}
/* For leap-select*/
.activity-connection-mid .dropdown-group{
	/* height: 30px; */
	margin-top: 10px;
	width: 80%;
}
.activity-connection-table-con{
	position: relative;
	height: 60%;
	width: 100%;
	margin-top: 20px;

}
.activity-connection-table{
	width:96%;
	border: 1px solid #e6e6e6;
	font-size: 12px;
	margin-left:2%;
	height: 90%;
}
.activity-connection-table thead{
	color: #fff;
	background-color: #000;
	display:table;
}
.activity-connection-table tr{
	table-layout: fixed;
	border: 1px solid #e6e6e6;
	width: 100%;
	display: table;
}
.activity-connection-table th{
	position:relative;
	height: 36px;
	padding-left:12px;
	font-size: 14px;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  white-space: nowrap;
}
.activity-connection-table th .sort-icons{
	position:absolute;
	right:6px;
	margin-top:2px;
	display:inline-block;
	color:#797979;
}
.activity-connection-thead-text{
	display: inline-block;
  font-weight: 400;
  /*width: 98%;*/
  margin-left: 3px;
}
.activity-connection-mid{
	font-weight: 600;
}
.activity-connection-table tbody{
	overflow-y: auto;
	display: block;
	height: 100%;
}
.activity-connection-table tbody tr th{
	padding-left: 16px;
	overflow: hidden;
}

.activity-connection .includedText,
.activity-connection .excludedText {
  display: inline-block;
  width: 130px;
 /* height: 20px;*/
  padding: 3px 0;
  border: 1px solid;
  /*border-radius: 2.5rem;*/
  text-align: center;
  /*margin-left: 10px;*/
  background-color: #fff;
}

.activity-connection .ifcursor{
	cursor: pointer;
}

.activity-connection .clickedIncludedText,
.activity-connection .clickedExcludedText {
  display: inline-block;
  width: 130px;
 /* height: 20px;*/
  padding: 3px 0;
  border: 1px solid #000;
  /*border-radius: 2.5rem;*/
  text-align: center;
  background-color: #000;
  color: #feed01;
  /*margin-left: 10px;*/
}
.activity-connection .excludedText,
.activity-connection .clickedExcludedText{
	margin-left: 10px;
}
.activity-connection .addActivitySequence{
	overflow: hidden;
	white-space: nowrap;
}
.activity-connection .btn-primary {
    width: 100%;
    margin-top: 10px;
}
.activity-connection-mid-bt{
	margin-top: 20px;
}
.activity-connection-filterMode{
	display: inline-block;
	margin-top: 15px;
}
.activity-connection .dropdown-group .process-label span{
	/*width: 95%!important;
	max-width: 100%!important;*/
}
.activity-connection .directlyFollowed{
	position: relative;
	left: 82%;
	top:-25px;
}
.activity-connection .topfiltermode{
	margin-left:-50px;
	white-space: nowrap;
	overflow: hidden;
}
.activity-connection .addSequence{
	padding: 0;
	width: 10%;
}
.activity-connection .iconTrash{
	margin-left: 10px;
}
.activity-connection .no-data{
	padding: 10px 0px;
	border: 0;
	text-align:center;
}
.activity-connection-sort-icon{
	display:inline-block;color:#797979;float:right;position: relative; top:1px;
}
.activity-connection-tbody tr{
	border-top: none;
	border-left: none;
}
.activity-connection-tbody .theThirdC{
	/*display: inline-block;*/
}
.activity-connection .dropdown-group .dropdown-menu .wrapper-search-li li input{
	padding-left: 10px;
}
/* Adib Comment - Sync UI 
.activity-connection .activity-connection-mid .dropdown-group .process-label i{
	line-height: 18px;
} */
.activity-connection table th:not(:last-child):after {
	content: "";
	display: block;
	position: absolute;
	width: 1px;
	left: 100%;
	top: 6px;
	bottom: 6px;
	/* height: 80%; */
	background-color: #fff;
} 
.activity-connection .filter-mode-button {
  display: inline-block;
  margin-left: 3px;
  margin-top: 2px;
  font-size: 12px;
}

.activity-connection .hover-infomation {
  position: absolute;
  width: 190px;
  height: 120px;
  background-color: #fff;
  top: -7px;
  /*border-radius: 5px;*/
  margin-left: 22px;
  box-shadow: 3px 3px 15px 3px #777;
  z-index: 999;
}

.activity-connection .hover-infomation-arrow {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1000;
  margin-top: -20px;
  margin-left: 13px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  background-color: black;
}

.activity-connection .hover-infomation-text {
  color: black;
  padding: 10px 10px;
}
.activity-connection .included-text {}

.activity-connection .excluded-text {
  margin-top: 5px;
}

.activity-connection .hover-infomation-text .title {
  font-size: 12px;
  font-weight: 900;
  white-space: normal;
}

.activity-connection .hover-infomation-text .text {
  font-size: 11px;
  font-weight: normal;
  white-space: normal;
  line-height: 18px;
}

@media screen\0 {
	activity-connection table th:not(:last-child):after {
		height: 24px;
} 
}