.attribute-bar {
	height: 40px;
	width: 100%;
	display: flex;
	position:relative;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
	padding-right: 15px;
}

[class *="attr-"]{
	display: flex;
	flex-direction: column;
	justify-content:center;
}

.attr-title {
	font-size: 18px;
	font-weight: bold;
	height: 100%;
	padding: 0 15px;
}

.attr-list-container {
	padding: 0 5px;
	overflow: hidden;

	.list {
		display: flex;
		height: 100%;
		position: relative;
		padding-top: 3px;

		.item-container {
			display: flex;

			.item {
				flex-grow:0;
				flex-shrink:0;
				display: flex;
				align-items: center;
				padding: 0 10px;
				cursor: pointer;
				
				i {
					color: transparent;
					margin-left: 10px;

					&:hover {
						font-weight: bold;
					}
				}

				&.active {
					box-shadow: inset 0 -5px 0 0 #feed01;
					
					i {
						color: #000000;
					}
				}
			}
		}

		.add-item-container {
			display: flex;
			align-items: center;
			background-color: #ffffff;
			padding: 0px 5px;

			&.overflow {
				position: absolute;
				right: -5px;
				height:100%;
			}

			.add-item {
				border: 1px solid #e0dede;
			    border-radius: 15px;
			    padding: 5px 10px;
				cursor: pointer;
				font-weight: bold;

				i {
					font-weight: 900;
				}

			    &:hover {
			    	background-color: #000000;
			    	color: #feed01;
			    }
			}
		}
	}
}

.attr-search {
	padding-left: 0px;
	padding-right: 0px;

	.leap-search {
		margin-bottom: 0px;
		padding: 4px;
	}
}

.custom-dropdown-menu {

	max-height: 400px;
	overflow-y: auto;
	
	ul {
		background-color: #ffffff;
		margin: 0;
		padding: 0;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		border: 1px solid rgba(0, 0, 0, 0.15);

		li {
			list-style: none;
			padding: 10px;
			cursor: pointer;

			&:hover {
				background-color: #feed01;
			}
		}
	}
}

