.customization {

  .dashboard-comment-wrapper {
    padding: 10px 15px;
  }

  .dashboard-comment {
    background-color: $bgColor;
    padding: 10px 15px;

    &>div {
      margin-bottom: 15px;

      &>.comment-header {
        border: 1px solid #dfdfdf;
        background-color: #fff;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .comment-actions {
          &>span {
            padding: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .dropdown-group {
    font-size: 14/12*$unit;
    min-width: 100/12*$unit;

    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }

  .top-selector {
    margin-top: 10px;

    .dropdown-group .dropdown-menu {
      left: 0;
      right: auto;
    }
  }

  .chart-title {
    display: block;
    padding: 10px 15px;

    &>span {
      display: inline-block;
      vertical-align: middle;
    }

    .selector {
      display: inline-block;
      vertical-align: middle;
      float: right;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }

  .tile-title {
    &>header {
      font-weight: bold;
    }
  }

  .table-wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;

    &.no-selector {
      padding: 15px;
      height: auto;
    }

    .table-header {
      padding: 0 15px;
    }

    .no-data {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 100/12*$unit;
    }

    &.no-data-comments {
      margin-top: 100%;
    }

    .dashboard-comment {
      margin-top: 15px;


    }
  }

  .tabs-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .tab-scroll {
      display: block;
      position: relative;
      width: 100%;
      z-index: 0;
      padding-bottom: 1px;

      &:after {
        content: " ";
        background-color: $color;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
      }
    }

    .tabs {
      position: relative;
      display: table;
      z-index: 1;
      background-color: $bgColor;
      white-space: nowrap;


      &>.tab+.tab {
        border-left: 1px solid $color;
      }

      &>.tab:last-child {
        border-right: 1px solid $color;
      }

      &>.tab {
        display: inline-block;
        padding: 10px 15px;

        &.active {
          background-color: #fff;
          color: #333;
          position: relative;
          z-index: 2;

          &:after {
            content: " ";
            display: block;
            position: absolute;
            z-index: 3;
            left: 0;
            right: 0;
            bottom: -1px;
            height: 1px;
            background-color: #fff;
          }
        }


        &.green {
          background-color: #449D44;
          color: #fff;
        }

        &.red {
          background-color: #D9534F;
          color: #fff;
        }

        &.yellow {
          background-color: #ffc107;
          color: #fff;
        }

        &:hover {
          cursor: pointer;
          background-color: #fff;
          color: #333;
        }
      }
    }

    &>.tab-content {
      background-color: #fff;
      flex-grow: 1;
      position: relative;
    }
  }
}

.cust-dashboard-input {
  padding: 10% 0;

  &.editing {
    padding: 30px 0;
    border: none;
  }

  input.form-control,
  textarea.form-control {
    border-radius: 0;
  }

  .form-control.has-error {
    border-color: #D9534F;
  }

  fieldset {
    border: 1px solid $borderColor;
    padding: 10/12*$unit 15/12*$unit;
  }

  legend {
    width: auto;
    // margin: 15/12*$unit;
    border-bottom: none;
    padding: 5/12*$unit 10/12*$unit;

    h4 {
      display: inline-block;
      width: auto;
    }
  }

  .close {
    position: absolute;
    right: 0;
    top: 30/12*$unit;
    color: #000;
  }

  .table-no-data {
    display: block;
    padding: 10/12*$unit 15/12*$unit;
    text-align: center;
  }

  .table-form-wrapper {
    padding: 10/12*$unit 15/12*$unit;
  }

  .leap-table {
    td>a {
      font-size: 16/12*$unit;

      &:hover {
        text-decoration: none;
      }
    }

    td>a+a {
      margin-left: 5/12*$unit;
    }
  }

  .form-actions {
    text-align: right;
    padding: 30/12*$unit;
  }
}

.qD-container-1,
.qD-container-2 {
  width: 48%;
  display: inline-block;
}

.hD-container-1,
.hD-container-2 {
  width: 48%;
  display: inline-block;
}
