.pn-chart-movie {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.pn-chart-movie .pnp-loading {
	display: block;
	position: absolute;
	left: 50%; 
	top: 50%;
	width: 160px;
	height: 32px;
	margin-top: -16px;
	margin-left: -80px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: #333;
}

.pn-chart-movie>.pnp-content {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50px;
  border: 1px solid #dfdfdf;
}

.pn-chart-movie>.pnp-controls {
  display: table;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  border-collapse: separate;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #efefef;
}

.pnp-controls>.pnp-play-btn-wrapper {
  display: table-cell;
  padding: 10px;
  width: 50px;
  vertical-align: middle;
}

.pnp-controls>.pnp-play-btn-wrapper>button {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #afafaf;
  background-color: #dfdfdf;
  font-size: 16px;
  border-radius: 50%;
  color: #333;
}

.pnp-controls>.pnp-play-btn-wrapper>button:focus {
  outline: none;
}

.pnp-controls>.pnp-progress-bar-wrapper {
  display: table-cell;
  padding: 10px;
  width: 100%;
  float: left;
  vertical-align: middle;
}

.pnp-controls>.pnp-progress-bar-wrapper>.pnp-progress-bar {
  display: block;
  background-color: #333;
  border: 1px solid transparent;
  position: relative;
  border-radius: 3px;
  height: 30px;
}

.pnp-controls>.pnp-progress-bar-wrapper>.pnp-progress-bar>.pnp-play-progress {
  display: block;
  position: absolute;
  left: 0;
  top: 13px;
  height: 3px;
  background-color: #5E84B0;
}

.pnp-controls>.pnp-current-time-wrapper {
  display: table-cell;
  width: 148px;
  vertical-align: middle;
  color: #629ADE;
  padding: 10px;
}

.pnp-controls>.pnp-current-time-wrapper>.pnp-current-time-container {
  display: block;
  background-color: #333;
  white-space: nowrap;
  border-radius: 3px;
  padding: 4px 8px;
}

.pnp-controls>.pnp-current-time-wrapper>.pnp-current-time-container>.pnp-current-time {
  display: inline-block;
  font-size: 24px;
  line-height: 22px;
  vertical-align: middle;
  font-family: "LED";
}

.pnp-controls>.pnp-current-time-wrapper>.pnp-current-time-container>.pnp-current-date {
  display: inline-block;
  font-size: 10px;
  height: 22px;
  line-height: 1.25;
  vertical-align: middle;
}

.pnp-controls>.pnp-speed-controller-wrapper {
  display: table-cell;
  width: 180px;
  padding: 10px;
  vertical-align: middle;
  white-space: nowrap;
}

.pnp-controls>.pnp-speed-controller-wrapper>.pnp-speed-controller {
  display: block;
  position: relative;
  background-color: #7d7d7d;
  height: 6px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.75);
}

.pnp-controls>.pnp-speed-controller-wrapper>.pnp-speed-controller>.pnp-slider {
  display: block;
  position: absolute;
  top: -4px;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  border-radius: 8px;
  background-color: #dfdfdf;
  border: 2px solid #333;
}

.pnp-controls>.pnp-speed-controller-wrapper>.pnp-speed-controller-caption {
  display: block;
  margin-top: 5px;
}
.pnp-controls>.pnp-speed-controller-wrapper>.pnp-speed-controller-caption:after {
	content: "";
	display: table;
	clear: both;
}
.pnp-controls>.pnp-speed-controller-wrapper>.pnp-speed-controller-caption>label {
	display: inline-block;
	margin: 0;
}
.pnp-controls>.pnp-speed-controller-wrapper>.pnp-speed-controller-caption>.label-slow {
	float: left;
}
.pnp-controls>.pnp-speed-controller-wrapper>.pnp-speed-controller-caption>.label-fast {
	float: right;
}
