.df-duration * {
  margin: 0;
  padding: 0;
}


.df-duration>h4 {
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}


.df-duration .dropdown-group .label-text,
.df-duration .dropdown-group .label-icon  {
  color: #666;
}
.df-duration .dropdown-group.open .label-text,
.df-duration .dropdown-group.open .label-icon  {
  color: #000;
}


.df-duration .mixed-chart .line-chart {
  position: relative;
  background-color: #fafafa;
}
.df-duration .mixed-chart .line-chart>.chart {
  height: 250px;
  width: 95%;
  margin: 0 auto;
}
.df-duration .mixed-chart .line-chart>.x-axis {
  position: absolute;
  right: 2.5%;
  bottom: 0;
  color: #828282;
  font-size: 10px;
}
.df-duration .mixed-chart .line-chart .line-group>path.line-path {
  display: none;
}
.df-duration .mixed-chart .line-chart .line-group>g.area-group>path.area-path {
  stroke: #01B8AA;
  stroke-width: 2px;
  stroke-opacity: 0.3;
}
.df-duration .mixed-chart .line-chart .line-group:first-child>g.area-group>path.area-path {
  stroke: none;
  fill-opacity: 0.9;
}
.df-duration .mixed-chart .line-chart .line-tooltip-line>g circle:nth-of-type(2) {
  display: none;
}

.df-duration .mixed-chart .dragged-ruler {
  background-color: #ddd;
}
.df-duration .mixed-chart .dragged-ruler>.chart {
  height: 30px;
  width: 95%;
  margin: 0 auto;
}
.df-duration .mixed-chart .dragged-ruler .background-rect {
  fill: #ddd;
}
.df-duration .mixed-chart .dragged-ruler .lat.dragged-button-wrapper .dragged-button {
  fill: #E0504D;
}

.df-duration .mixed-box {
  width: 95%;
  margin: 0 auto;
  margin-top: 40px;
}
.df-duration .mixed-box>* {
  display: inline-block;
}

.df-duration .mixed-box .choosed-box {
  width: 20%;
  border: 2px solid #eee;
}
.df-duration .mixed-box .choosed-box:hover,
.df-duration .mixed-box .choosed-box.active {
  border-color: #777;
}
.df-duration .mixed-box .choosed-box .title {
  padding: 30px 0;
  text-align: center;
}
.df-duration .mixed-box .choosed-box .form-inline {
  padding: 0 2%;
}
.df-duration .mixed-box .choosed-box .form-inline .form-group {
  width: 49%;
  padding: 0 1%;
}
.df-duration .mixed-box .choosed-box .form-inline .form-control {
  width: 100%;
}
.df-duration .mixed-box .choosed-box .form-inline input.form-control {
  padding-left: 5px;
  padding-right: 5px;
}
.df-duration .mixed-box .choosed-box .form-inline select.form-control {
  padding-left: 4px;
  padding-right: 4px;
}
.df-duration .mixed-box .choosed-box>.btn {
  display: block;
  width: 50%;
  text-align: center;
  padding: 6px 0;
  margin: 30px auto;
  overflow: hidden;
}

.df-duration .mixed-box .state-box {
  width: 55%;
  height: 211px;
  margin: 0 2%;
  padding-top: 50px;
  background-color: #ddd;
  vertical-align: top;
  text-align: center;
}
.df-duration .mixed-box .state-box .state {
  font-size: 40px;
  padding: 5px 0;
  font-weight: bold;
}
.df-duration .mixed-box .state-box .note {
  color: #999;
}