.df-touch-points {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.df-touch-points h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

.df-touch-points .tp-search {
  position: absolute;
  right: 15px;
  top: 15px;
  display: inline-block;
  width: 35%;
}

.df-touch-points .tp-content {
  position: absolute;
  top: 50px;
  left: 15px;
  right: 15px;
  bottom: 50px;
}

.df-touch-points .tp-chart-container {
  position: relative;
  height: 40%;
  top: 10px;
  width: 100%;
}

.df-touch-points .tp-chart-container .tp-box-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.df-touch-points .tp-chart-container .tp-box-wrapper .no-data-display {
  text-align: center;
  margin-top: 34%;
}

/*table style*/
.df-touch-points .tp-table-container {
  position: relative;
  height: 55%;
  width: 100%;
}

.df-touch-points .tp-table-container .tp-box-wrapper {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
}

.df-touch-points .tp-table-container .tp-box-wrapper table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
  font-size: 14px;
}

.df-touch-points .tp-table-container .tp-box-wrapper table thead {
  background: #000;
  color: #fff;
  text-align: left;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.df-touch-points .tp-table-container .tp-box-wrapper table th {
  position: relative;
  padding: 6px 9px 6px 0;
  height: 36px;
}

.df-touch-points .tp-table-container .tp-box-wrapper table th:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  left: 100%;
  top: 6px;
  bottom: 6px;
  background-color: #fff;
}

.df-touch-points .tp-table-container .tp-box-wrapper .select-header {
  border: solid white 1.2px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 2px 4px 0px 11px;
  float: left;
}

.df-touch-points .tp-table-container .tp-box-wrapper .select-header i{
  display: none;
}

.df-touch-points .tp-table-container .tp-box-wrapper .show-all-select {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 2px 4px 0px 11px;
  float: left;
  background-color: #ffed00;
  border-color:#ffed00;
}

.df-touch-points .tp-table-container .tp-box-wrapper .show-all-select i{
  display: block;
  color: black;
  padding-top: 1px;
}

.df-touch-points .tp-table-container .tp-box-wrapper .sort-column {
  cursor: pointer;
  display: inline-block;
  margin-left: 12px;
}

.df-touch-points .tp-table-container .tp-box-wrapper .sort-icons {
  color: #666666;
  cursor: pointer;
}

.df-touch-points .tp-table-container .tp-box-wrapper .no-data {
  border: 1px solid #cecece;
  text-align: center;
}

.df-touch-points .tp-table-container .tp-box-wrapper table tbody {
  display: block;
  overflow-y: auto;
}

.df-touch-points .tp-table-container .tp-box-wrapper table tbody tr {
  border-bottom: 1px solid #CECECE;
  border-left: 1px solid #CECECE;
  border-right: 1px solid #CECECE;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.df-touch-points .tp-table-container .tp-box-wrapper table tbody td {
  height: 36px;
  padding: 0 10px 0 10px;
}

.df-touch-points .tp-table-container .tp-box-wrapper .select-column {
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 2px;
  height: 16px;
  width: 16px;
  margin-left: 1px;
  margin-right: 12px;
}

.df-touch-points .tp-table-container .tp-box-wrapper table .select-tr {
  background-color: #f2f2f2;
}

.df-touch-points .tp-table-container .tp-box-wrapper .cell-content {
  display: inline-block;
}

.df-touch-points .tp-table-container .tp-box-wrapper .cell-content p {
  margin-bottom: 0;
}

.df-touch-points .tp-table-container .tp-box-wrapper .cell-content-attribute-value {
  position: relative;
}

.df-touch-points .tp-tbody .table-td-text {
  padding-left: 15px;
}

.df-touch-points .tp-paging-container {
  position: relative;
  height: 5%;
  width: 100%;
}
.df-touch-points .tp-paging-container .news-pages{
  text-align: right;
}