.statistic-dashboard {
  .form-header {
    position: relative;
    .form-close {
      font-size: 24px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }

  input.form-control,
  textarea.form-control {
    border-radius: 0;
  }

  .form-control.has-error {
    border-color: #D9534F;
  }

  fieldset {
    // border: 1px solid #dfdfdf;
    padding: 15px 20px;
    margin: 20px 0;

    legend {
      margin: 15/12*$unit 0;
      &>div {
        padding: 10px;
      }
    }
  }

  .dropdown-group.left {

    .dropdown-menu {
      left: 0;
      right: auto;
    }
  }
}
