.chart-area {
	display: block;
	width: 100%;
	background-color: #fff;
	position: relative;
	white-space: nowrap;
}
.chart-area>.activity-duration-chart-wrapper {
	display: inline-block;
	width: 68%;
	position: relative;
	height: 100%;
	vertical-align: middle;
}
.chart-area>.activity-duration-chart-wrapper > svg{
	position: relative;
	width: 100%;
}
.chart-area>.activity-duration-chart-wrapper >svg>.axis-groups{
	position: relative;
	width: 90%;
}
.chart-area>.activity-duration-chart-wrapper .line-group:nth-of-type(2)>.line-path {
	display: none;
}
.chart-area>.activity-duration-chart-wrapper .line-tooltip>g>circle:nth-of-type(2) {
	display: none;
}
.chart-area>.activity-duration-caption {
	display: inline-block;
	width: 20%;
	position: relative;
	padding: 5px;
	/*padding: 20px 5px 5px 5px;*/
	vertical-align: middle;
	padding-top: 23px!important;
	overflow: hidden;
	text-overflow: ellipsis;
}
.activity-duration-caption>div{
	font-size: 12px;
	margin-bottom: 5px;
}
.activity-duration-caption>div>p {
	margin-bottom: 2px;
}
.activity-duration-caption>div>p:nth-child(odd){
	color: grey;
}
.activity-duration-caption>div>p:nth-child(even){
	font-weight: bold;
}
.chart-area .noData{
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  text-align: center;
  vertical-align: middle;
}
.chart-area .noData span{
	height: 100%;
	vertical-align: middle;
	display: inline-block;
    
}
