.table-view {
  padding: 0 20px;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    font-size: 14px;


    thead {
      background: #333;
      color: #fff;
      text-align: left;
      width: 100%;
      display: table;
      table-layout: fixed;

      tr {
        border: 1px solid #CECECE;

        th {
          height: 36px;
          background-color: #333;
          color: #fff;

          &:not(:first-child) {
            padding-left: 0px;
          }

          .content-cell {
            .separator {
              height: 80%;
              padding-left: 0px;
              padding-right: 0px;
            }

            .th-label {
              padding-left: 0px;
              padding-right: 1em;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .th-icon {
              color: #eee;
              padding-left: 0px;
              padding-right: 0px;
              text-align: right;

              i {
                cursor: pointer;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }

    tbody {
      display: block;
      overflow-y: auto;

      tr {
        border: 1px solid #CECECE;
        cursor: pointer;
        display: table;
        width: 100%;
        table-layout: fixed;

        &:first-child {
          border-top: none;
        }

        &.selected {
          background-color: #F2F2F2;
        }

        td {
          border: none;
          height: 36px;

          &.content-cell {
            padding-left: 0px;

            div {
              padding-left: 5px;
              padding-right: 0px;
            }
          }
        }
      }
    }

    tbody::-webkit-scrollbar {
      width: 8px;
    }

    tbody::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background: #eee;
    }

    tbody::-webkit-scrollbar-track {
      background: #ccc;
      border-radius: 0px;
    }
  }
}

.attribute-control {
  display: inline-block;
  width: 100%;

  input {
    height: 20px;
    vertical-align: bottom;
    display: none;
  }

  .checkBox {

    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    padding-bottom: 1px;
    margin-top: 2px;

    i {
      font-size: 14px;
      top: 50%;
      bottom: 50%;
      line-height: 16px;
    }

    &.header {
      border: 1px solid #fff;
      background-color: #333;

      i {
        color: $color;
      }
    }

    &.content {
      border: 1px solid #eee;
      background-color: #fff;

      i {
        color: #333;
      }

      &.selected {
        background-color: $color;
        border: none;
      }
    }
  }
  .checkBoxText {
    padding-left: 10px;
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
  }
}

.table-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; //hide text
  h1 {
    color: #fff;
  }
}
