.rte-dd-custom-select-box {
    height: 30px !important;
}

.rte-dd-custom-option-box > ul > li {
    height: 30px !important;
    width: 100% !important;
}

.rte-text-bar {
    line-height: 1;
}

.rte-table-action-bar{
    line-height: 0;
}