.dashboard-m {
	.dashboard-m-header {
		padding: 30/12*$unit 20/12*$unit;
		margin-bottom: 30/12*$unit;
	}

	.dashboard-m-title {
		font-weight: 700;
		margin-bottom: 30/12*$unit;
	}

	.m-reports {
		display: block;
		padding: 15/12*$unit 20/12*$unit;

		.m-report {
			display: block;
			padding: 20/12*$unit 40/12*$unit;
			text-align: center;
			background-color: $bgColor;

			&:hover {
				cursor: pointer;
				background-color: $color;
				color: #fff;
			}
		}
	}

	.m-projects {
		display: block;
		padding: 15/12*$unit 20/12*$unit;

		.m-project {
			display: block;
			padding: 20/12*$unit;
			text-align: center;
			background-color: $bgColor;

			&:hover {
				cursor: pointer;
				background-color: $color;
				color: #fff;

				.project-name {
					background-color: transparent;
				}
			}

			.project-name {
				word-break: break-all;
				text-align: left;
				font-weight: 700;
				background-color: #ccc;
				padding: 10/12*$unit;
				margin-bottom: 10/12*$unit;
			}

			.project-desc {
				padding: 5/12*$unit 10/12*$unit;
				font-size: 14/12*$unit;
				word-break: break-all;
				text-align: left;
				height: 128/12*$unit;
				line-height: 1.25;
			}
		}
	}
}