.process-flow-process-chart {
  display: block;
  width: 100%;
  height: 100%;

  .case-chart {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.case-detail-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
  z-index: 26;
}

.process-flow-process-chart .variant-case {
  z-index: 100 !important;
  background-color: #eee;
  left: 0;
  top: -25px;
  right: -6px;
  bottom: 0;
  position: absolute;
  padding-right: 4px;
  border-radius: 0;
  border-right: 4px solid $color;
}
