.dynamic-filter-info-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  background-color: #eaeaea;
  width: 100%;
  padding: 0 20px;
}

.dynamic-filter-info-bar-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.filter-action-button {
  cursor: pointer;
  flex: 0 0 auto;
}

.filter-action-button.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.filter-action-button .filter-icon {
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 14px;
  background-color: #c6c6c6;
  border-radius: 50%;
  padding: 3px;
  display: inline-block;
}

.filter-action-button .filter-icon-label {
  text-align: left;
  padding: 1px 5px;
  display: inline-block;
}

.filter-action-options {
  width: 80%;
}

.filter-action-options ul {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 10px;
}

.filter-action-options ul li {
  display: inline-block;
}

.filter-action-options .parting-line {
}

.filter-action-options ul li .attribute-wrapper {
  margin-left: 10px;
  font-weight: bolder;
  font-size: 12px;
}

.filter-option-clear-all {
  font-size: 12px;
  cursor: pointer;
  margin-left: 10px;
}

.clear-all-text {
  padding: 4px 8px;
}

.clear-all-text:hover {
  background-color: $color;
  color: #fff;
  text-decoration: underline;
}

.filter-option-text {
  font-weight: bolder;
  font-size: 12px;
  margin-left: 10px;
}

.filter-action-text {
  cursor: pointer;
}

.filter-action-icon-remove {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: 1px;
  cursor: pointer;
}
