.attribute-date{
    margin:15px 0px 0px 0px;
    background-color: #fff;
}
.attribute-date>h4 {
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}
.attribute-date .mixed-chart .line-chart {
    position: relative;
    background-color: #fafafa;
}
.attribute-date .mixed-chart .line-chart>.chart {
    height: 250px;
    width: 95%;
    margin: 0 auto;
}
.attribute-date .mixed-chart .line-chart>.x-axis {
    position: absolute;
    right: 2.5%;
    bottom: 0;
    color: #828282;
    font-size: 10px;
}
.attribute-date .mixed-chart .line-chart .line-group>path.line-path {
    display: none;
}
.attribute-date .mixed-chart .line-chart .line-group:first-child>g.area-group>path.area-path {
    fill-opacity: 0.9;
}
.attribute-date .mixed-chart .line-chart .line-tooltip-line>g circle:nth-of-type(2) {
    display: none;
}
   
.attribute-date .mixed-chart .dragged-ruler {
    background-color: #ddd;
}
.attribute-date .mixed-chart .dragged-ruler>.chart {
    height: 30px;
    width: 95%;
    margin: 0 auto;
}
.attribute-date .mixed-chart .dragged-ruler .background-rect {
    fill: #ddd;
}

.attribute-date .mixed-box .cell.day{
    height: 25px;
    line-height: 25px;
}
