.attribute-date .mixed-box {

    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 20px 40px 40px;

    .range-start {
        width: 30%;

        span {
            padding-left: 90px;
        }
    }

    .selected-cases {
        width: 70%;
        height: 300px;

        .content-box {
            height: 94%;
            width: 100%;
            margin-top: 22px;
            background-color: #EBEBED;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font: #333;

            .value {
                font-size: 46px;
                font-weight: bold;
            }

        }
        
    }

    .range-end {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        span {
            padding-right: 90px;
        }
    }
}